body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  margin: 0;
  background-color: #eeeeee;
  color: #060809;
  font-family: "Poppins", sans-serif;
}
.container-canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
#canvas {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 4px #909090;
}
/* .canvas-element { */
/*   height: 4vh; */
/*   width: 4vh; */
/*   padding: 2px; */
/* } */

button {
  background: rgb(42, 135, 187);
  background: linear-gradient(
    90deg,
    rgba(42, 135, 187, 1) 0%,
    rgba(46, 147, 170, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #ffffff;
  font-weight: bold;
  height: 40px;
  width: 90px;
  border-radius: 8px;
  border: none;
}
